.a{
    color:red;
}
table, th, td {
    // border: 1px solid white;
    // border-collapse: collapse;
    padding: 10px 10px 10px 10px;

  }
  .outerborder{
    // margin: auto;
    border: 1px solid black;
    padding:50px 50px 50px 50px ;
    
    width:auto;
    height:auto;

    
    text-align: center;
    background-color:aliceblue;
    color:black;
    display:inline-block;
  }
  .outerborder1{
    // margin: auto;
    border: 1px solid white;
    padding:50px 50px 50px 50px ;
    
    width:auto;
    height:auto;

    
    text-align: center;
    background-color:aliceblue;
    color:black;
    display:inline-block;
  }

